@use 'variables';

.body {

    // &-messages-by-day-wrapper {
    //     // display: flex;
    //     // flex-direction: column-reverse;
    //     height: 100vh;
    //     overflow: scroll;
        
    // }

    &-channel {
        &-messages-by-day {
            position: relative;
            border-top: rgb(171, 171, 171) 1px solid;
            // overflow: scroll;
    
            &-date {
                position: absolute;
                border-radius: 20px;
                border: rgb(171, 171, 171) 1px solid;
                left: 50%;
                transform: translate(-50%, -150%);
                background-color: variables.$body-background-color;
                padding: 0 20px;
            }
        }

        &-dialog {
            width: 1000px;
        }
    }
}
