.reaction {

}

.reaction-bar-wrapper {
    // width: auto;
    height: 35px;
    position: absolute;
    top: -17px;
    right: 0;
}

.reaction-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}